.chatContainer {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
}

.chatContainer input {
    font-size: large;
    border-radius: 10px;
    padding: 6px;
    margin-right: 10px;
    background-color: aliceblue;
    height: 20px;
    width: 900px;
}

.chatContainer input:focus {
    background-color: rgba(238, 241, 236, 0.651);
}

.chatBox {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: lightgray;
    width: 1080px;
    height: 640px;
}