.chatContainer {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.chatContainer input {
    font-size: large;
    border-radius: 10px;
    padding: 6px;
    margin-right: 10px;
    background-color: aliceblue;
    height: 20px;
    width: 900px;
}

.chatContainer input:focus {
    background-color: rgba(238, 241, 236, 0.651);
}

.chatBoxMessagesContainer {
    overflow-y: auto;
}

.chatBox {
    display: flex;
    flex-direction: column-reverse;
    width: 1080px;
    height: 640px;
    border: 1px solid lightgray;
    border-radius: 5px;
    padding-bottom: 10px;
    position: relative;
    padding-bottom: 40px;
}

.chatBoxMessages, .chatBoxMessagesReciever{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;
}

.chatBoxMessages {
    align-items: end;
}

.chatBoxMessagesReciever {
    align-items: start;
}

.chatBoxMessages p, .chatBoxMessagesReciever p{
    font-size: large;
    background-color: lightgray;
    padding: 8px;
    border-radius: 10px;
    box-shadow: 5px 5px black;
}

.chatBoxInputBox {
    position: absolute;
    bottom: 0;
    width: 100%;
}