.Footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 72px 10px 72px 10px;
    font-size: large;
}

.FooterAppName :first-child {
    display: flex;
    font-weight: bolder;
    font-size: xx-large;
    text-decoration: underline;
    letter-spacing: -2px;
}

.FooterAppName :last-child {
    font-weight: bold;
    font-size: large;
}

.FooterSubHeading {
    font-size: 20px;
    font-weight: bold;
}

.FooterProjectInfo span {
    margin-right: 10px;
}

.FooterContact {
    display: flex;
    flex-direction: column;
}

.FooterContactIcons {
    display: flex;
}

.FooterContactIcon {
    margin-right: 6px;
}

@media screen and (max-width: 1100px) {
    .FooterProjectsInfo {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .FooterAppName {
        display: none;
    }
}