.container {
    height: 100%;
    text-align: center;
    margin-bottom: 100px;
}

.homeTitle {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 48px;
}

.homeHeading {
    font-weight: bold;
    font-size: 96px;
    letter-spacing: -9px;
    text-decoration: underline;
}

.homeTagline {
    font-size: xx-large;
    font-weight: bold;
}

.homeBodyText {
    font-size: 22px;
    font-weight: 600;
}

.homeActions button{
    font-size: larger;
    margin-left: 20px;
}